body{background-color: bisque;
            color: black;
    }
    img{width:400px;
        height: 300px;
    border-color: azure;}
    .h1{color: aqua;}
#joel colgroup
.parent{display: flow-root;}
        